table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
  padding: 15px;
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}

.flyButton{
  padding: 5px;
  background-color: green;
  color: white;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
