<Form>
  <table>
    <th>Drone ID</th>
    <th>Status</th>
    <th>Activate</th>
    <th>Deactivate</th>
    <th>Location X</th>
    <th>Location Y</th>
    <tr *ngFor="let drone of drones; let i = index">
      <td>{{drone.id}}</td>
      <td>{{drone.isActive}}</td>
      <td><button [disabled]="drone.isActive" (click)="activate(i + 1)">Activate</button></td>
      <td><button [disabled]="!drone.isActive" (click)="deactivate(i + 1)">Deactivate</button></td>
      <td>{{drone.position?.x}}</td>
      <td>{{drone.position?.y}}</td>
    </tr>
  </table>

  <div>
    <button routerLink="/droneOperations">Navigate to Drone Operations</button>
  </div>
</Form>
